.categoryWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.categoryWrapper .subcategories {
    display: grid;
    width: fit-content;
}

.chain-hook {
    background-color: #ccc;
    width: 2px;
    height: 50px;
}